<% layout('layouts/boilerplate')%>
<div class="container d-flex">
  <h1>Available variety of wines</h1>

  <div class="row justify-content-md-center">
    <% for(let wine of wines) { %>
    <div class="card p-0 m-2" style="width: 16rem">
      <img src="<%=wine.image %>" class="card-img-top" alt="..." />
      <div class="card-body d-flex flex-column justify-content-space-around">
        <h5 class="card-title"><%=wine.title%></h5>
        <p class="card-text"><%=wine.location%></p>
        <a href="/wines/<%=wine._id%>" class="btn btn-primary mt-auto"
          >Read more</a
        >
      </div>
    </div>
    <% } %>
  </div>
</div>
